.card-text{
    background-color:white;
}

.p-3{
    background-color:white;
}

p{
    background-color:white;
}
a{
    background-color:white;
    justify-content: center;
    align-items: center;
    align-self: center;
}

