.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color:#0E4429;
    color:aliceblue;
}
.nav-bar-items{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    margin:0;
    
 }
 .logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20rem;
    height: 5rem;
    background-color:#46e796;
    color:black;
    font-weight: bold;
    font-size: 2.5rem;
    margin:0;
    padding: 0;
}